:root {
    --primary-theme-color: #20232a;
    --secondary--theme-color: #282c34;
    --text-color: #fff;
    --primary-shadow-color:#8888;
    --secondary-shadow-color: #21242c80;
    --shadow-color: #8888;
    --button-color: #61dafb;
    --button-color-active: #fff;
    --button-text-color: #000;
    --primary-highlight: #61dafb;
    --secondary-hightlight: #ffd700;
    --padding-section: 2em 0;
    --padding-container: 0 2em;
    --max-width-container: 1024px;
    --border-radius: 0.5rem;
    --all-transitions: all 0.25s;
}

.body {
    background-color: var(--secondary--theme-color);
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 200vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-shadow-color);
}

.header-nav {
    padding: 0.5rem 0;
}

.header-nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-container); 
}
.header-nav__link-logo-container {
    position: relative;
    display: flex;
    height: 3rem;
    border-radius: 50%;
    /* overflow: hidden; */
    transition: var(--all-transitions);
}

.header-nav__link-logo-container:hover {
    height: 4rem;
}

.header-nav__link-logo-container::after {
    content:'';
    position: absolute;
    bottom: 0;
    height: 0.125rem;
    width: 0;
    background-color: var(--secondary-hightlight);
    transition: var(--all-transitions);
}

.header-nav__link-logo-container:hover:after {
    width: 100%;
}

.header-nav__link-logo {
    height: 100%;
}

.header-nav__menu-link-list {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-nav__menu-link-item {
    display: flex;
}
.header-nav__menu-link {
    position: relative;
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    transition: var(--all-transitions);
}

.header-nav__menu-link:hover {
    color: var(--primary-highlight);
}

.header-nav__menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    width: 0;
    height: 0.0625rem;
    background-color: var(--secondary-hightlight);
    transition: var(--all-transition);
}

.header-nav__menu-link:hover::after {
    width: 100%;
}